version: "3.9"

services:
  redis:
    image: redis:7.2
    container_name: laborato-redis
    restart: unless-stopped

    ports:
      - "6379:6379"

    command: ["redis-server", "--appendonly", "yes"]

    volumes:
      - redis-data:/data

volumes:
  redis-data:
